/* 그리드 영역 */
.dataGrid {
    padding: 20px;
    overflow: auto;
    height: 800px;
}

.tableGrid {
    border: 1px solid;
    white-space: nowrap;
    text-align: center;
}

.tableGrid thead { 
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
}
.tableGrid th:first-child {
    color: white;
    /* left: 0; */
}
.tableGrid td:first-child {
    background-color: rgb(208, 237, 247);
    /* left: 0; */
}
.tableGrid th:nth-child(2) {
    color: white;
    /* left: 111px;  */
}
.tableGrid td:nth-child(2) {
    background-color: rgb(208, 237, 247);
    /* left: 111px;  */
}
.tableGrid th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    color: white;
    left: 0;
    /* left: 273px; */
}
.tableGrid td:nth-child(3) { 
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(208, 237, 247);
    left: 0;
    /* left: 273px; */
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    color: white;
    text-align: center;
}

tbody tr:hover {
    background-color: rgb(208, 237, 247);
}

.setBold {
    font-weight: bold;
}