{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/csd.css' %}">
{% if user.is_authenticated %} 
    <h3>CSD Daily 《{{month}}》</h3>
    <form method="GET">
        <div class="searchForm">
            <input type="month" name="input-month" id="monthSearch" class="searchMonth">
            <input type="submit" id="btnSearch" value="Search">
        </div>
    </form>
    <div class="dataGrid">
        <table class="tableGrid" id="myTable">
            <thead>
                <tr id="thTr">
                    <th><B>商品代號</B></th>
                    <th><B>條碼</B></th>
                    <th><B>品名</B></th>
                    {% comment %} {% for i in range(len(last_date)) %}
                    <th><B>{{i}}</B></th>
                    {% endfor %} {% endcomment %}
                </tr>
            </thead>
            <tbody>
                <tr id="tdTr"></tr>
                <tr id="tdTr2"></tr>
                <tr id="tdTr3"></tr>
                <tr id="tdTr4"></tr>
                <tr id="tdTr5"></tr>
                <tr id="tdTr6"></tr>
            <tbody>
        </table>
    </div>

    <form action="/csd/upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-group">
            <input type="file" class="form-control" id="fileInput" name="fileInput">
            <input type="submit" class="btn btn-success btn-lg" id="submitBtn" value="Upload File" disabled>
        </div>
    </form>
{% comment %} <script src ="{% static 'script/csd.js' %}"> </script> {% endcomment %}
{% else %}
    <meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script>
//페이지 로드시 실행
window.onload=function(){
    searchDaily();
    baseGrid();
    localStorage.removeItem("user_selected_date");

}

// 파일 선택시에만 버튼 활성화
document.getElementById('fileInput').addEventListener('input', function(event) {
    document.getElementById('submitBtn').disabled = !this.value;
}, false);

// 달력 날짜 선택시 로컬스토리지 저장
document.getElementById('monthSearch').addEventListener('input', function(event){
    localStorage.setItem("user_selected_date", document.getElementById('monthSearch').value);
});

// 검색창 달력 현재 달로 디폴트 세팅
function defaultDate() {
    const now = new Date();
    const currentYear = now.getFullYear();
    const currentMonth = ("0" + (now.getMonth() + 1)).slice(-2);
    const defaultMonth = currentYear + "-" + currentMonth;
    document.getElementById('monthSearch').value = defaultMonth;
}

// Search 버튼 클릭이벤트 - 월별 데일리 데이터 출력    
function searchDaily() {
    // 검색창 달력 현재달/마지막선택달
    if(!localStorage.getItem("user_selected_date")) {
        defaultDate();
    } else {
        document.getElementById('monthSearch').value = localStorage.getItem("user_selected_date");
    }
}

// 기본 그리드
function baseGrid() {
    // 테이블 th에 일 출력 (달력에 선택된 달의 마지막 일짜까지 출력) 
    const now = new Date();
    const monthSearch = document.getElementById('monthSearch').value;
    const lastDay = new Date( now.getFullYear(), ( monthSearch.substr(5)), 0 );
    const lastDate = lastDay.getDate(); // 해당 월의 마지막일자
    const thTr = document.getElementById('thTr');
    // total/average th
    const thT = document.createElement('th');
    const thA = document.createElement('th');

    for (hashDate = 0; hashDate < lastDate; hashDate++){
        // 일자 출력
        let th = document.createElement('th');
        th.innerHTML = hashDate+1;
        thTr.append(th);
    }
    // total, average 출력
    thT.innerHTML = "Total";
    thTr.append(thT);
    thA.innerHTML = "Average";
    thTr.append(thA);    

    // 상품별 판매 데이터 출력
    prd11530035();
    prd11060162();
    prd17010087();
    prd17010088();
    prd17010004();
    prd17010002();
}

function prd11530035(){
    // views.py에서 넘어온 상품별 데이터
    const prd11530035 = "{{prd11530035}}".replace(/\&#x27;|\{|\}|\s|\&lt;|\&gt;|\[|\]/g,'').split(/[:,]/);
    let tdTr = document.getElementById('tdTr');

    if(prd11530035.length > 1) {
        let tdCode = document.createElement('td');  // 상품코드 td
        let tdBar = document.createElement('td');   // 바코드 td
        let tdName = document.createElement('td');  // 상품명 td
        let tdTotal = document.createElement('td'); // total td
        let tdAvg = document.createElement('td');   // average td
        tdTotal.classList.add('setBold');
        tdAvg.classList.add('setBold');

        for (var i = 0; i < prd11530035.length/6; i++){
            // 판매량 td
            let td = document.createElement('td');
            // 상품코드, 바코드, 상품명, 일자별 판매량 데이터 출력
            if (i == 0) {
                tdCode.innerHTML = prd11530035[i*6+4];
                tdTr.append(tdCode);
                tdBar.innerHTML = prd11530035[i*6+3];
                tdTr.append(tdBar); 
                tdName.innerHTML = prd11530035[i*6+2];
                tdTr.append(tdName);
                td.innerHTML = prd11530035[i*6+5];
                tdTr.append(td);
            } else {
                if(prd11530035[i*6+5] != 0) {
                    td.innerHTML = prd11530035[i*6+5]-prd11530035[(i-1)*6+5];
                    tdTr.append(td);   
                } else {
                    td.innerHTML = 0;
                    tdTr.append(td);   
                }
            }
        }
        // 값
        tdTotal.innerHTML = prd11530035[prd11530035.length-1];
        console.log(prd11530035.length-1);
        tdTr.append(tdTotal);
        tdAvg.innerHTML = Math.round((prd11530035[prd11530035.length-1])/(prd11530035.length/6));
        tdTr.append(tdAvg);
    }
}

function prd11060162(){
    // views.py에서 넘어온 상품별 데이터
    const prd11060162 = "{{prd11060162}}".replace(/\&#x27;|\{|\}|\s|\&lt;|\&gt;|\[|\]/g,'').split(/[:,]/);
    let tdTr2 = document.getElementById('tdTr2');

    if(prd11060162.length > 1) {
        let tdCode = document.createElement('td');  // 상품코드 td
        let tdBar = document.createElement('td');   // 바코드 td
        let tdName = document.createElement('td');  // 상품명 td
        let tdTotal = document.createElement('td'); // total td
        let tdAvg = document.createElement('td');   // average td
        tdTotal.classList.add('setBold');
        tdAvg.classList.add('setBold');

        for (var i = 0; i < prd11060162.length/6; i++){
            // 판매량 td
            let td = document.createElement('td');      
            // 상품코드, 바코드, 상품명, 일자별 판매량 데이터 출력
            if (i == 0) {
                tdCode.innerHTML = prd11060162[i*6+4];
                tdTr2.append(tdCode);
                tdBar.innerHTML = prd11060162[i*6+3];
                tdTr2.append(tdBar); 
                tdName.innerHTML = prd11060162[i*6+2];
                tdTr2.append(tdName);
                td.innerHTML = prd11060162[i*6+5];
                tdTr2.append(td);
            } else {
                td.innerHTML = prd11060162[i*6+5]-prd11060162[(i-1)*6+5];
                tdTr2.append(td);
            }
        }
        // 값
        tdTotal.innerHTML = prd11060162[prd11060162.length-1];
        tdTr2.append(tdTotal);
        tdAvg.innerHTML = Math.round((prd11060162[prd11060162.length-1])/(prd11060162.length/6));
        tdTr2.append(tdAvg);
    }
}

function prd17010087(){
    // views.py에서 넘어온 상품별 데이터
    const prd17010087 = "{{prd17010087}}".replace(/\&#x27;|\{|\}|\s|\&lt;|\&gt;|\[|\]/g,'').split(/[:,]/);
    let tdTr3 = document.getElementById('tdTr3');

    if(prd17010087.length > 1) {
        let tdCode = document.createElement('td');  // 상품코드 td
        let tdBar = document.createElement('td');   // 바코드 td
        let tdName = document.createElement('td');  // 상품명 td
        let tdTotal = document.createElement('td'); // total td
        let tdAvg = document.createElement('td');   // average td
        tdTotal.classList.add('setBold');
        tdAvg.classList.add('setBold');

        for (var i = 0; i < prd17010087.length/6; i++){
            // 판매량 td
            let td = document.createElement('td');      
            // 상품코드, 바코드, 상품명, 일자별 판매량 데이터 출력
            if (i == 0) {
                tdCode.innerHTML = prd17010087[i*6+4];
                tdTr3.append(tdCode);
                tdBar.innerHTML = prd17010087[i*6+3];
                tdTr3.append(tdBar); 
                tdName.innerHTML = prd17010087[i*6+2];
                tdTr3.append(tdName);
                td.innerHTML = prd17010087[i*6+5];
                tdTr3.append(td);
            } else {
                td.innerHTML = prd17010087[i*6+5]-prd17010087[(i-1)*6+5];
                tdTr3.append(td);
            }
        }
        // 값
        tdTotal.innerHTML = prd17010087[prd17010087.length-1];
        tdTr3.append(tdTotal);
        tdAvg.innerHTML = Math.round((prd17010087[prd17010087.length-1])/(prd17010087.length/6));
        tdTr3.append(tdAvg);
    }
}

function prd17010088(){
    // views.py에서 넘어온 상품별 데이터
    const prd17010088 = "{{prd17010088}}".replace(/\&#x27;|\{|\}|\s|\&lt;|\&gt;|\[|\]/g,'').split(/[:,]/);
    let tdTr4 = document.getElementById('tdTr4');

    if(prd17010088.length > 1) {
        let tdCode = document.createElement('td');  // 상품코드 td
        let tdBar = document.createElement('td');   // 바코드 td
        let tdName = document.createElement('td');  // 상품명 td
        let tdTotal = document.createElement('td'); // total td
        let tdAvg = document.createElement('td');   // average td
        tdTotal.classList.add('setBold');
        tdAvg.classList.add('setBold');

        for (var i = 0; i < prd17010088.length/6; i++){
            // 판매량 td
            let td = document.createElement('td');      
            // 상품코드, 바코드, 상품명, 일자별 판매량 데이터 출력
            if (i == 0) {
                tdCode.innerHTML = prd17010088[i*6+4];
                tdTr4.append(tdCode);
                tdBar.innerHTML = prd17010088[i*6+3];
                tdTr4.append(tdBar); 
                tdName.innerHTML = prd17010088[i*6+2];
                tdTr4.append(tdName);
                td.innerHTML = prd17010088[i*6+5];
                tdTr4.append(td);
            } else {
                td.innerHTML = prd17010088[i*6+5]-prd17010088[(i-1)*6+5];
                tdTr4.append(td);
            }
        }
        // 값
        tdTotal.innerHTML = prd17010088[prd17010088.length-1];
        tdTr4.append(tdTotal);
        tdAvg.innerHTML = Math.round((prd17010088[prd17010088.length-1])/(prd17010088.length/6));
        tdTr4.append(tdAvg);
    }
}

function prd17010004(){
    // views.py에서 넘어온 상품별 데이터
    const prd17010004 = "{{prd17010004}}".replace(/\&#x27;|\{|\}|\s|\&lt;|\&gt;|\[|\]/g,'').split(/[:,]/);
    let tdTr5 = document.getElementById('tdTr5');

    if(prd17010004.length > 1) {
        let tdCode = document.createElement('td');  // 상품코드 td
        let tdBar = document.createElement('td');   // 바코드 td
        let tdName = document.createElement('td');  // 상품명 td
        let tdTotal = document.createElement('td'); // total td
        let tdAvg = document.createElement('td');   // average td
        tdTotal.classList.add('setBold');
        tdAvg.classList.add('setBold');

        for (var i = 0; i < prd17010004.length/6; i++){
            // 판매량 td
            let td = document.createElement('td');      
            // 상품코드, 바코드, 상품명, 일자별 판매량 데이터 출력
            if (i == 0) {
                tdCode.innerHTML = prd17010004[i*6+4];
                tdTr5.append(tdCode);
                tdBar.innerHTML = prd17010004[i*6+3];
                tdTr5.append(tdBar); 
                tdName.innerHTML = prd17010004[i*6+2];
                tdTr5.append(tdName);
                td.innerHTML = prd17010004[i*6+5];
                tdTr5.append(td);
            } else {
                td.innerHTML = prd17010004[i*6+5]-prd17010004[(i-1)*6+5];
                tdTr5.append(td);
            }
        }
        // 값
        tdTotal.innerHTML = prd17010004[prd17010004.length-1];
        tdTr5.append(tdTotal);
        tdAvg.innerHTML = Math.round((prd17010004[prd17010004.length-1])/(prd17010004.length/6));
        tdTr5.append(tdAvg);
    }
}

function prd17010002(){
    // views.py에서 넘어온 상품별 데이터
    const prd17010002 = "{{prd17010002}}".replace(/\&#x27;|\{|\}|\s|\&lt;|\&gt;|\[|\]/g,'').split(/[:,]/);
    let tdTr6 = document.getElementById('tdTr6');

    if(prd17010002.length > 1) {
        let tdCode = document.createElement('td');  // 상품코드 td
        let tdBar = document.createElement('td');   // 바코드 td
        let tdName = document.createElement('td');  // 상품명 td
        let tdTotal = document.createElement('td'); // total td
        let tdAvg = document.createElement('td');   // average td
        tdTotal.classList.add('setBold');
        tdAvg.classList.add('setBold');

        for (var i = 0; i < prd17010002.length/6; i++){
            // 판매량 td
            let td = document.createElement('td');      
            // 상품코드, 바코드, 상품명, 일자별 판매량 데이터 출력
            if (i == 0) {
                tdCode.innerHTML = prd17010002[i*6+4];
                tdTr6.append(tdCode);
                tdBar.innerHTML = prd17010002[i*6+3];
                tdTr6.append(tdBar); 
                tdName.innerHTML = prd17010002[i*6+2];
                tdTr6.append(tdName);
                td.innerHTML = prd17010002[i*6+5];
                tdTr6.append(td);
            } else {
                td.innerHTML = prd17010002[i*6+5]-prd17010002[(i-1)*6+5];
                tdTr6.append(td);
            }
        }
        // 값
        tdTotal.innerHTML = prd17010002[prd17010002.length-1];
        tdTr6.append(tdTotal);
        tdAvg.innerHTML = Math.round((prd17010002[prd17010002.length-1])/(prd17010002.length/6));
        tdTr6.append(tdAvg);
    }
}    
</script>
{% endblock %}