/* table grid */
.dataGrid {
    display: block;
    overflow: auto;
    padding: 20px;
    height: 800px;
}

.tableGrid {
    border: 1px solid;
    white-space: nowrap;
}

.tableGrid thead {
    position: -webkit-sticky;
    position: sticky;
    top:0px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    color: white;
    text-align: center;
}

tbody tr:hover {background-color: rgb(208, 237, 247);}

/* data count */
#pCount {
    position:absolute; 
    left: 25px;
    background-color: white;
    width: 95.9%;
}
/* 항목 설명 p */
#pInfo {
    position:absolute; 
    right: 25px;
    width: max-content;
    background-color: white;
}