/* Global CSS */

/** Search Form **/
.searchForm {
  padding: 20px;
  margin: auto;
}
/* calander month */
.searchMonth {
  position: relative;
  min-width: 200px;
  height: 35px;
  border-radius: 2px;
}
/* select box */
.select {
  position: relative;
  min-width: 200px;
  height: 35px;
  border-radius: 2px;
}

/** 업로드 영역 **/
.input-group {
  padding: 20px;
}
/** Button **/
/* reset button */
/* #btnReset {
  background-color: rgb(78, 78, 78);
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 70px;
}
#btnReset:hover {background-color: rgb(61, 61, 61)}
#btnReset:active {
    background-color: rgb(61, 61, 61);
    box-shadow: 5px 5px 5px #666;
    transform: translateY(2px);
} */
/* Close button */
/* #btnClose {
  float: right;
  margin-top: 10px;
  background-color: rgb(78, 78, 78);
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 70px;
}
#btnClose:hover {background-color: rgb(61, 61, 61)}
#btnClose:active {
    background-color: rgb(61, 61, 61);
    box-shadow: 5px 5px 5px #666;
    transform: translateY(2px);
} */
/* Add button */
/* #btnWrite {
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 70px;
}
#btnWrite:hover {background-color: lightslategray}
#btnWrite:active {
    background-color: lightslategray;
    box-shadow: 5px 5px 5px #666;
    transform: translateY(2px);
} */
/* Update button */
/* #btnUpdate:enabled {
  background-color: darkorange;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 80px;
}
#btnUpdate:hover:enabled {background-color: chocolate}
#btnUpdate:active:enabled {
    background-color: chocolate;
    box-shadow: 5px 5px 5px #666;
    transform: translateY(2px);
}
#btnUpdate:disabled,
#btnUpdate[disabled]{
  border: 1px solid #999999;
  border-radius: 5px;
  height: 35px;
  width: 80px;
  background-color: #cccccc;
  color: #666666;
} */
/* excel download button */
/* .btnExcel {
  background-color: limegreen;
  color: white;
  border-radius: 5px;
  height: 35px;
}
.btnExcel:hover {background-color: rgb(5, 148, 5)}
.btnExcel:active {
  background-color: darkgreen;
  box-shadow: 5px 5px 5px #666;
  transform: translateY(2px);
} */