/* div css */
.dataInput {
    float:left; 
    padding: 20px;
}
.dataGrid {
    float:left; 
    padding: 20px;
}
/* table grid */
.tableGrid {
    border-collapse: collapse;
    border: 1px solid;
    white-space: nowrap;
}
.tableGrid thead {
    background-color: #27190c;
}
.tableGrid th {
    top: 0;
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #27190c;
    color: white;
    text-align: center;
}
#datafield tr:hover {background-color: #f9f2eb;}
/* data count */
#pCount {
    color: #27190c;
    margin-bottom: 0px;
}