{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/users.css' %}">

<form method="post" action="{% url 'users:login' %}">
  {% csrf_token %}
  <div class="login-card">
    <h3>Sign-in</h3>
    <input type="text" name="username" id="username" placeholder="User ID">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" name="login" class="login login-submit" value="Login">
    {% include 'users/form_errors.html' %}
</form>
{% endblock %}