{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/csm.css' %}">
{% if user.is_authenticated %} 
    <h3>CSM Monthly《{{month}}》</h3>
    <div data-preset="energy" class="ldBar label-center" data-value="35"></div>
    <form method="GET">
        <div class="searchForm">
            <input type="month" name="input-month" id="monthSearch" class="searchMonth">
            <input type="submit" id="btnSearch" value="Search">
        </div>
    </form>
    <div class="dataGrid">
        <table class="tableGrid" id="myTable">
            <thead>
                <tr id="thTr">
                    <th><B>區域</B></th>
                    <th><B>縣市</B></th>
                    <th><B>門市代號</B></th>
                    <th><B>門市名稱</B></th>
                    <th><B>代號</B></th>
                    <th><B>條碼</B></th>
                    <th><B>品名/規格</B></th>
                    <th><B>上存量</B></th>
                    <th><B>進貨量</B></th>
                    <th><B>退貨量</B></th>
                    <th><B>銷貨量</B></th>
                    <th><B>每日銷貨總計</B></th>
                    <th><B>誤差值(%)</B></th>
                    <th><B>庫存量</B></th>
                </tr>
            </thead>
            <tbody>
                {% for data in monthData %}
                <tr id="tdTr">
                    <td>{{data.str_code.str_loc}}</td>
                    <td>{{data.str_code.str_city}}</td>
                    <td>{{data.str_code.str_code}}</td>
                    <td>{{data.str_code.str_name}}</td>
                    <td>{{data.prd_code.prd_code}}</td>
                    <td>{{data.prd_code.prd_barcode}}</td>
                    <td>{{data.prd_code.prd_name}}</td>
                    <td>{{data.sum_m_save}}</td>
                    <td>{{data.sum_m_buy}}</td>
                    <td>{{data.sum_m_return}}</td>
                    <td>{{data.sum_m_sale}}</td>
                    <td><B>{{data.sum_m_sale_ttl}}</B></td>
                    <td><B>{{data.sum_m_sale_err}}</B></td>
                    <td>{{data.sum_m_stock}}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <form action="/csm/upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-group">
            <input type="file" class="form-control" id="fileInput" name="fileInput">
            <input type="submit" class="btn btn-success btn-lg" id="submitBtn" value="Upload File" disabled>
        </div>
    </form>
{% else %}
    <meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script>
    const monthData = "{{month}}";
</script>
<script src="{% static 'script/csd.js' %}"></script>
{% endblock %}