{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/csm.css' %}">
{% if user.is_authenticated %} 
    <h3>CSM Monthly</h3>
    <form method="GET">
        <div class="searchForm">
            <input type="month" name="input-month" id="monthSearch" class="searchMonth">
            <input type="submit" id="btnSearch" value="Search">
        </div>
    </form>
    <div class="dataGrid">
        <table class="tableGrid" id="myTable">
            <thead>
                <tr id="thTr">
                    <th><B>商品代號</B></th>
                    <th><B>條碼</B></th>
                    <th><B>品名</B></th>
                    <th><B>上存</B></th>
                    <th><B>進貨</B></th>
                    <th><B>退貨</B></th>
                    <th><B>銷貨</B></th>
                    <th><B>每日銷貨總計</B></th>
                    <th><B>誤差值</B></th>
                    <th><B>庫存</B></th>
                </tr>
            </thead>
            <tbody>
                <tr id="tdTr">
                    <td></td>
                </tr>
            <tbody>
        </table>
    </div>
    <form action="/csm/upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-group">
            <input type="file" class="form-control" id="fileInput" name="fileInput">
            <input type="submit" class="btn btn-success btn-lg" id="submitBtn" value="Upload File" disabled>
        </div>
    </form>
{% else %}
    <meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script>
//페이지 로드시 실행
window.onload=function(){
    searchDaily();
    baseGrid();
    localStorage.removeItem("user_selected_date");

}

// 파일 선택시에만 버튼 활성화
document.getElementById('fileInput').addEventListener('input', function(event) {
    document.getElementById('submitBtn').disabled = !this.value;
}, false);

// 달력 날짜 선택시 로컬스토리지 저장
document.getElementById('monthSearch').addEventListener('input', function(event){
    localStorage.setItem("user_selected_date", document.getElementById('monthSearch').value);
});

// 검색창 달력 현재 달로 디폴트 세팅
function defaultDate() {
    const now = new Date();
    const currentYear = now.getFullYear();
    const currentMonth = ("0" + (now.getMonth() + 1)).slice(-2);
    const defaultMonth = currentYear + "-" + currentMonth;
    document.getElementById('monthSearch').value = defaultMonth;
}

// Search 버튼 클릭이벤트 - 월별 데이터 출력    
function searchDaily() {
    // 검색창 달력 현재달/마지막선택달
    if(!localStorage.getItem("user_selected_date")) {
        defaultDate();
    } else {
        document.getElementById('monthSearch').value = localStorage.getItem("user_selected_date");
    }
}
</script>
{% endblock %}