{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/csm.css' %}">
<link rel="stylesheet" href="{% static 'css/loading.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% if user.is_authenticated %} 
    <h1 class="h3 mb-4 text-gray-800">
        <i class="fas fa-location-arrow"></i> 全聯 > DATA > Monthly > <B>{{year}}年{{month}}月</B>
    </h1>
    {% comment %} <div data-preset="energy" class="ldBar label-center" data-value="35"></div> {% endcomment %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form method="GET" id="selectForm">
                <div class="searchForm">
                    <input type="month" name="input-month" id="monthSearch" class="bg-light border-1 searchMonth">
                    {% comment %} select box (location-city-store) {% endcomment %}
                    <select name="add-loc" id="selectAddLoc" class="select">
                        <option value="all" selected>Location</option>
                        {% for loc in loc %}
                        <option value="{{loc.str_loc}}">{{loc.str_loc}}</option>
                        {% endfor %}
                    </select>
                    <select name="add-city" id="selectAddCity" class="select">
                        <option value="all" selected>City</option>
                        {% for city in city %}
                        <option value="{{city.str_city}}">{{city.str_city}}</option>
                        {% endfor %}
                    </select>
                    <select name="add-str" id="selectAddStr" class="select">
                        <option value="all" selected>Store</option>
                        {% for str in str %}
                        <option value="{{str.str_name}}">{{str.str_name}}</option>
                        {% endfor %}
                    </select>
                    {% comment %} select box (product list) {% endcomment %}                    
                    <select name="input-prd" id="selectSearch" class="select" onChange="selectedPrd()">
                        <option value="" selected>所有產品</option>
                        {% for prd in product %}
                        <option value="{{prd.prd_code}}">{{prd.prd_name|cut:' '}}</option>
                        {% endfor %}
                    </select>
                    <select name="input-sort" id="selectSort" class="select" onChange="selectedSort()">
                        <option value="" selected>降序排列</option>
                        <option value="strname">門市名稱</option>
                        <option value="prdSave">上存量</option>
                        <option value="prdBuy">進貨量</option>
                        <option value="prdReturn">退貨量</option>
                        <option value="prdSale">銷貨量</option>
                        <option value="prdStock">庫存量</option>
                        <option value="prdStockMon">庫存月份</option>
                    </select>
                    <input type="submit" id="btnSearch" class="btn btn-primary" value="🔍︎">
                    <input type="reset" id="btnReset" value="Reset" class="btn btn-secondary" onclick="resetForm()">
                </div>
            </form>
        </div>
        <div class="card shadow mb-4">
            <p id="pCount">數據數 : {{monthData.count}} 條</p>
            <div class="dataGrid">
                <table class="tableGrid">
                    <thead>
                        <tr id="thTr">
                            <th class="bg-gradient-primary"><B>區域</B></th>
                            <th class="bg-gradient-primary"><B>縣市</B></th>
                            <th class="bg-gradient-primary"><B>門市代號</B></th>
                            <th class="bg-gradient-primary"><B>門市名稱</B></th>
                            <th class="bg-gradient-primary"><B>代號</B></th>
                            <th class="bg-gradient-primary"><B>條碼</B></th>
                            <th class="bg-gradient-primary"><B>品名/規格</B></th>
                            <th class="bg-gradient-primary"><B>上存量</B></th>
                            <th class="bg-gradient-primary"><B>進貨量</B></th>
                            <th class="bg-gradient-primary"><B>退貨量</B></th>
                            <th class="bg-gradient-primary"><B>銷貨量</B></th>
                            <th class="bg-gradient-primary"><B><abbr title="= 銷貨量/當月總天數">每日銷貨總計</abbr></B></th>
                            <th class="bg-gradient-primary"><B><abbr title="= 銷貨量/每日銷貨總計">誤差值(%)</abbr></B></th>
                            <th class="bg-gradient-primary"><B>庫存量</B></th>
                            <th class="bg-gradient-primary"><B><abbr title="= 庫存量/銷貨量">庫存月份</abbr></B></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if monthData %}
                        <tr>
                            <td colspan="7"><B>Total</B></td>
                            <td><B>{{sumSave.sum_m_save__sum}}</B></td>
                            <td><B>{{sumBuy.sum_m_buy__sum}}</B></td>
                            <td><B>{{sumReturn.sum_m_return__sum}}</B></td>
                            <td><B>{{sumSale.sum_m_sale__sum}}</B></td>
                            <td><B>{{ttlSumDl|floatformat:2}}</B></td>
                            <td><B>{{ttlerr|floatformat:2}}</B></td>
                            <td><B>{{sumStock.sum_m_stock__sum}}</B></td>
                            <td><B>{% widthratio sumStock.sum_m_stock__sum sumSale.sum_m_sale__sum 1 %}</B></td>
                        </tr>
                        {% for data in monthData %}
                        <tr id="tdTr">
                            <td>{{data.str_code.str_loc}}</td>
                            <td>{{data.str_code.str_city}}</td>
                            <td>{{data.str_code.str_code}}</td>
                            <td>{{data.str_code.str_name}}</td>
                            <td>{{data.prd_code.prd_code}}</td>
                            <td>{{data.prd_code.prd_barcode}}</td>
                            <td>{{data.prd_code.prd_name}}</td>
                            <td>{{data.sum_m_save}}</td>
                            <td>{{data.sum_m_buy}}</td>
                            <td>{{data.sum_m_return}}</td>
                            <td>{{data.sum_m_sale}}</td>
                            <td><B>{{data.sum_m_sale_ttl}}</B></td>

                            {%if data.sum_m_sale_err == None %}
                                <td><B>-</B></td>
                            {% else %}
                                <td><B>{{data.sum_m_sale_err}}</B></td>
                            {% endif %}

                            <td>{{data.sum_m_stock}}</td>

                            {% comment %} 월재고율 6이상 빨간색으로 표시 {% endcomment %}
                            {%if data.sum_m_stock_mon == None %}
                                <td><B>-</B></td>
                            {% else %}
                                {%if data.sum_m_stock_mon >= 6 %}
                                    <td style="color:red">{{data.sum_m_stock_mon}}</td>
                                {% else %}
                                    <td>{{data.sum_m_stock_mon}}</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="15"><B>No Data</B></td>
                        </tr>
                        {% endif %}
                    <tbody>
                </table>
            </div>
        </div>
        <form action="/csm/upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <p id="pInput" class="text-danger">* 文件名必須等於 '全聯112-01'、'全聯112-02'等 </p>
            <div class="input-group">
                <input type="file" class="form-control" id="fileInput" name="fileInput">
                <input type="submit" class="btn btn-primary" id="submitBtn" value="Upload File" disabled>
            </div>
        </form>
    </div>
{% else %}
    <meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script>
    const yearData = "{{year}}"
    const monthData = "{{month}}";
    const prdData = "{{prdcode}}";
    const sortData = "{{sort}}";

    // error message
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
</script>
<script src="{% static 'script/csm.js' %}"></script>
{% endblock %}