{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/csp.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style type="text/css">
</style>
{% if user.is_authenticated %} 
    <h1 class="h3 mb-4 text-gray-800">
        <i class="fas fa-location-arrow"></i> 全聯 > DATA > PX Calendar Sales > <B>{{prdname.0|cut:' '}}</B>
    </h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form method="GET" id="selectForm">
                <div class="searchForm">
                    <input type="number" id="yearSearch" name="input-year" min="2000" max="2099" step="1" class="bg-light border-1 select"/>
                    {% comment %} select box (location-city-store) {% endcomment %}
                    <select name="add-loc" id="selectAddLoc" class="select">
                        <option value="all" selected>Location</option>
                        {% for loc in loc %}
                        <option value="{{loc.str_loc}}">{{loc.str_loc}}</option>
                        {% endfor %}
                    </select>
                    <select name="add-city" id="selectAddCity" class="select">
                        <option value="all" selected>City</option>
                        {% for city in city %}
                        <option value="{{city.str_city}}">{{city.str_city}}</option>
                        {% endfor %}
                    </select>
                    <select name="add-str" id="selectAddStr" class="select">
                        <option value="all" selected>Store</option>
                        {% for str in str %}
                        <option value="{{str.str_name}}">{{str.str_name}}</option>
                        {% endfor %}
                    </select>
                    {% comment %} select box (product list) {% endcomment %}
                    <select name="input-prd" id="selectSearch" class="select" onChange="selectedPrd()">
                        {% for prd in product %}
                        <option value="{{prd.prd_code}}">{{prd.prd_name|cut:' '}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" id="btnSearch" class="btn btn-primary" value="🔍︎">
                    <input type="reset" id="btnReset" value="Reset" class="btn btn-secondary" onclick="resetForm()">
                    <input type="button" class="btn btn-success" value="📥Excel" onclick="fnExceldown('myTable','pxYearlySales');">
                </div>
            </form>
        </div>
        <div class="card shadow mb-4">
            <p id="pCount">數據數 : {{data.count}} 條</p>
            <div class="dataGrid">
                <table class="tableGrid" id="myTable">
                    <thead class="sticky-element">
                        <tr>
                            <th class="bg-gradient-primary" rowspan="2"><B>門市代號</B></th>
                            <th class="bg-gradient-primary" rowspan="2"><B>縣市</B></th>
                            <th class="bg-gradient-primary" rowspan="2"><B>門市名稱</B></th>
                            <th class="bg-gradient-primary"><B>1月-1</B></th>
                            <th class="bg-gradient-primary"><B>1月-2</B></th>
                            <th class="bg-gradient-primary"><B>2月-1</B></th>
                            <th class="bg-gradient-primary"><B>2月-2</B></th>
                            <th class="bg-gradient-primary"><B>3月-1</B></th>
                            <th class="bg-gradient-primary"><B>3月-2</B></th>
                            <th class="bg-gradient-primary"><B>4月-1</B></th>
                            <th class="bg-gradient-primary"><B>4月-2</B></th>
                            <th class="bg-gradient-primary"><B>5月-1</B></th>
                            <th class="bg-gradient-primary"><B>5月-2</B></th>
                            <th class="bg-gradient-primary"><B>6月-1</B></th>
                            <th class="bg-gradient-primary"><B>6月-2</B></th>
                            <th class="bg-gradient-primary"><B>7月-1</B></th>
                            <th class="bg-gradient-primary"><B>7月-2</B></th>
                            <th class="bg-gradient-primary"><B>8月-1</B></th>
                            <th class="bg-gradient-primary"><B>8月-2</B></th>
                            <th class="bg-gradient-primary"><B>9月-1</B></th>
                            <th class="bg-gradient-primary"><B>9月-2</B></th>
                            <th class="bg-gradient-primary"><B>10月-1</B></th>
                            <th class="bg-gradient-primary"><B>10月-2</B></th>
                            <th class="bg-gradient-primary"><B>11月-1</B></th>
                            <th class="bg-gradient-primary"><B>11月-2</B></th>
                            <th class="bg-gradient-primary"><B>12月-1</B></th>
                            <th class="bg-gradient-primary"><B>12月-2</B></th>
                            <th class="bg-gradient-primary" rowspan="2"><B>Total</B></th>
                        </tr>
                        <tr>
                            <th class="bg-gradient-primary"><B>12/30-1/12</B></th>
                            <th class="bg-gradient-primary"><B>1/13-2/2</B></th>
                            <th class="bg-gradient-primary"><B>2/3-2/16</B></th>
                            <th class="bg-gradient-primary"><B>2/17-3/2</B></th>
                            <th class="bg-gradient-primary"><B>3/3-3/16</B></th>
                            <th class="bg-gradient-primary"><B>3/17-4/6</B></th>
                            <th class="bg-gradient-primary"><B>4/7-4/20</B></th>
                            <th class="bg-gradient-primary"><B>4/21-5/4</B></th>
                            <th class="bg-gradient-primary"><B>5/5-5/18</B></th>
                            <th class="bg-gradient-primary"><B>5/19-6/1</B></th>
                            <th class="bg-gradient-primary"><B>6/2-6/15</B></th>
                            <th class="bg-gradient-primary"><B>6/16-7/6</B></th>
                            <th class="bg-gradient-primary"><B>7/7-7/20</B></th>
                            <th class="bg-gradient-primary"><B>7/21-8/10</B></th>
                            <th class="bg-gradient-primary"><B>8/11-8/24</B></th>
                            <th class="bg-gradient-primary"><B>8/25-9/7</B></th>
                            <th class="bg-gradient-primary"><B>9/8-9/21</B></th>
                            <th class="bg-gradient-primary"><B>9/22-10/5</B></th>
                            <th class="bg-gradient-primary"><B>10/6-10/19</B></th>
                            <th class="bg-gradient-primary"><B>10/20-11/2</B></th>
                            <th class="bg-gradient-primary"><B>11/3-11/23</B></th>
                            <th class="bg-gradient-primary"><B>11/24-12/7</B></th>
                            <th class="bg-gradient-primary"><B>12/8-12/21</B></th>
                            <th class="bg-gradient-primary"><B>12/22-1/4</B></th>
                        </tr>
                    </thead>
                    <tbody id="datafield">
                        {% if data %}
                        <tr>
                            <td colspan="3"><B>Total</B></td>
                            {% comment %} 월별 판매 총합 {% endcomment %}
                            <td style="color:blue"><B>{{totalsaleJan.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleJan2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleFeb.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleFeb2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleMar.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleMar2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleApr.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleApr2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleMay.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleMay2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleJun.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleJun2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleJul.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleJul2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleAug.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleAug2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleSep.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleSep2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleOct.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleOct2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleNov.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleNov2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleDec.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            <td style="color:blue"><B>{{totalsaleDec2.inv_d_sale__sum|default_if_none:'0'}}</B></td>
                            {% comment %} 판매, 재고, 월평균, 월재고 {% endcomment %}
                            <td><B>{{totaldata.inv_d_sale__sum}}</B></td>
                        </tr>
                        {% for data in data %}
                        <tr>
                            <td>{{data.str_code}}</td>
                            <td>{{data.str_code__str_city}}</td>
                            <td>{{data.str_code__str_name}}</td>
                            {% comment %} 월별 판매 합 {% endcomment %}
                            {% with i=forloop.counter0 %}
                            {% load index %}
                                {% with  saleJan|index:i as sale11 %}
                                <td style="color:blue">{{sale11.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleJan2|index:i as sale12 %}
                                <td style="color:blue">{{sale12.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleFeb|index:i as sale21 %}
                                <td style="color:blue">{{sale21.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleFeb2|index:i as sale22 %}
                                <td style="color:blue">{{sale22.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleMar|index:i as sale31 %}
                                <td style="color:blue">{{sale31.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleMar2|index:i as sale32 %}
                                <td style="color:blue">{{sale32.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleApr|index:i as sale41 %}
                                <td style="color:blue">{{sale41.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleApr2|index:i as sale42 %}
                                <td style="color:blue">{{sale42.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleMay|index:i as sale51 %}
                                <td style="color:blue">{{sale51.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleMay2|index:i as sale52 %}
                                <td style="color:blue">{{sale52.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleJun|index:i as sale61 %}
                                <td style="color:blue">{{sale61.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleJun2|index:i as sale62 %}
                                <td style="color:blue">{{sale62.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleJul|index:i as sale71 %}
                                <td style="color:blue">{{sale71.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleJul2|index:i as sale72 %}
                                <td style="color:blue">{{sale72.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleAug|index:i as sale81 %}
                                <td style="color:blue">{{sale81.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleAug2|index:i as sale82 %}
                                <td style="color:blue">{{sale82.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleSep|index:i as sale91 %}
                                <td style="color:blue">{{sale91.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleSep2|index:i as sale92 %}
                                <td style="color:blue">{{sale92.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleOct|index:i as sale101 %}
                                <td style="color:blue">{{sale101.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleOct2|index:i as sale102 %}
                                <td style="color:blue">{{sale102.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleNov|index:i as sale111 %}
                                <td style="color:blue">{{sale111.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleNov2|index:i as sale112 %}
                                <td style="color:blue">{{sale112.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleDec|index:i as sale121 %}
                                <td style="color:blue">{{sale121.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                                {% with  saleDec2|index:i as sale122 %}
                                <td style="color:blue">{{sale122.inv_d_sale__sum|default:'0'}}</td>
                                {% endwith %}
                            {% endwith %}
                            <td>{{data.inv_d_sale__sum}}</td>
                        </tr>
                        {% endfor %}
                        
                        {% else %}
                        <tr>
                            <td colspan="28"><B>No Data</B></td>
                        </tr>
                        {% endif %}
                    <tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script type="text/javascript">
    const yearDate = "{{yearDate}}";
    const prdData = "{{prdcode}}";
</script>
<script src="{% static 'script/csp.js' %}"></script>
{% endblock %}