{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/csp.css' %}">
<style type="text/css">
 
</style>
{% if user.is_authenticated %} 
    <h3 class="menuTitle">CSP Yearly</h3>
    <form method="GET">
        <div class="searchForm">
            <input type="number" min="2000" max="2099" step="1" value="2023" class="select"/>
            <select name="input-prd" id="selectSearch" class="select" onChange="selectedPrd()">
                <option value="" selected>所有產品</option>
                <option value="11530035">活蔘28D</option>
                <option value="11060162">蔘精ET秘</option>
                <option value="17010087">活蔘28D/蔘活力飲禮盒</option>
                <option value="17010088">蔘石榴飲</option>
                <option value="17010004">蔘野櫻莓飲</option>
                <option value="17010002">蔘精ET禮盒</option>
                <option value="12345678">test</option>
            </select>
            <input type="submit" id="btnSearch" value="🔍︎">
            <input type="button" class="btnExcel" value="📥Excel">
        </div>
        <div class="dataGrid">
            <table class="tableGrid" id="myTable">
                <thead class="sticky-element">
                    <tr>
                        <th><B>區域</B></th>
                        <th><B>縣市</B></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>asd</td>
                        <td>asd</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </form>
{% else %}
    <meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script type="text/javascript">
   
</script>
<script src="{% static 'script/csp.js' %}"></script>
{% endblock %}