<html lang="ko">
<head>
    <meta charset="UTF-8">

    <!-- Boot strap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .content{
            height: 75%;
            text-align: center;
        }
        .panel-footer{
            height:10%;
            color:gray;
        }
    </style>

    <title>Sales1Manager</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-header">
                <a href="/" class="btn btn-default btn-xs" style="margin: 10px">Home</a>
                <h1>Channel Sales Department <small>SignUp</small></h1>
            </div>
        </div>
        <div class="content">
            <h2>Error occured: </h2>
            <!-- 에러내용 시작 -->
            <h4>{{message}}</h4>
            <!-- 에러내용 끝 -->
            <a href="/index" class="btn btn-default" style="margin: 10px">Home</a>
        </div>
        <div class="panel-footer">
            Copyright by all rights reserved by 'KGCTW IT PART'
        </div>
    </div>
</body>
</html>