<html lang="ko">
<head>
    <meta charset="UTF-8">

    <!-- Boot strap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .content{
            height: 75%;
            padding:10px;
        }
        .panel-footer{
            height:10%;
            color:gray;
        }
        .fileListDIv{
            padding:15px;
        }
        .fileName{
            font-size: 18px;
        }
    </style>

    <title>Sales1Manager</title>
</head>
<body>
    <div class="container">
    <nav>
        <div class="header">
            <div class="page-header">
                <a href="/" class="btn btn-default btn-xs" style="margin: 10px">Home</a>
                <h1>Channel Sales Department <small>Home</small><a href="/logout/" class="btn btn-danger btn-xs" style="margin-left: 30px">Logout</a></h1>
                
            </div>
        </div>
    </nav>
        <div class="content">
            <h3>daily result</h3>
            <a href="/calculate/daily" class="btn btn-default btn-xs" style="margin: 10px">Show Daily</a>

            <h3>List of file upload <small><a href="/exceltest/fileView/">Upload File</a><small></h3>
            <div class="fileListDIv">
                <ul>
                    {% for document in documents %}
                    <a href='download/?path={{ document.file_path.path }}'>
                    <li class="fileName"> {{ document.file_name }} <small style="font-size:12px; margin-left:5px;">{{ document.create_time }}<small></span></li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            Copyright by all rights reserved by 'KGCTW IT PART'
        </div>
    </div>
</body>
</html>