<!-- modal content -->
<div id="modal-excel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <i class="far fa-save mr-1"></i>
                    엑셀 업로드 modal 창
                </h3>
            </div>
            <div class="modal-body">
                <form class="modal-form" id="modal-excel-form" method='post'>
                    <div class="row justify-content-center toolbar-forms py-2">
                        <div class="col-8">
                            <div class="custom-file text-left">
                                <input id="input-excel" class="custom-file-input" type="file" id='excelupload'>
                                <label for="input-excel" class="custom-file-label"></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="float-left mx-auto">
                    <button type="submit" class="btn btn-secondary" id="excel-upload">저장</button>
                    <button type="button" class="btn btn-default border" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- modal end -->

<script type="text/javascript">
$("#menu-excel").click(function () {
        $("#modal-excel").modal('show');
    });
</script>
<script type="text/javascript">
    $('#excel-upload').click(() => {
        var form = $("#modal-excel-form")[0];
        var formData = new FormData(form);
        formData.append("message", "ajax로 파일 전송하기");
        formData.append("file", $("#input-excel")[0].files[0]);
        $.ajax({
            url: "/excelupload",
            processData: false,
            contentType: false,
            type: "POST",
            headers:{"X-CSRFToken": csrftoken},
            data : formData,
            success: function(data) {
                alert(data.message);
                location.reload();
            },
            error: function(data) {
                alert(data.message);
            },
        });
    });
</script>