{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% if user.is_authenticated %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <form method="GET" id="selectForm">
        <div class="form-row">
            <div class="col">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
            <div class="col">
                <input type="number" id="yearSearch" name="input-year" min="2000" max="2099" step="1" class="form-control select"/>
            </div>
        </div>
    </form>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Total Sales (Annual) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            target sales volume (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cumulative Sales (Annual) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Cumulative Sales (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dna fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Progress Rate Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Current sales progress rate
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-poll-h fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Year-on-year Progress Rate Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Year-on-year<br>Progress Rate
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">30%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-poll fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Summary of Total Annual Product Sales</h6>
                {% comment %}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div> 
                </div>
                {% endcomment %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Percentage of Total Product Sales</h6>
                {% comment %} 
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div> 
                {% endcomment %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-left small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> 正官庄活蔘28D高麗蔘活/力飲100ml*10瓶
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> 正官庄高麗蔘精EVERY/TIME-秘10ml*20入
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> 預購正官庄活蔘28D高麗/蔘活力飲禮盒100ml*8入
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> 預購正官庄高麗蔘石榴飲/50ml*9入
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> 預購正官庄高麗蔘野櫻莓飲
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-secondary"></i> 預購正官庄高麗蔘精EVERY/TIME10ml*30入
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-xl-12 col-lg-8">
        <div class="card shadow mb-4">
            
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">全聯</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped text-align-center" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="bg-gradient-primary text-center text-white">PRODUCT</th>
                                <th class="bg-gradient-primary text-center text-white">ANNUAL GOAL</th>
                                <th class="bg-gradient-primary text-center text-white">당월전망</th>
                                <th class="bg-gradient-primary text-center text-white">목표비</th>
                                <th class="bg-gradient-primary text-center text-white">전년비</th>
                                <th class="bg-gradient-primary text-center text-white">당월실적</th>
                                <th class="bg-gradient-primary text-center text-white">진도율</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in dash_data_list %}
                            <tr>
                                <td>{{data.product_name}}</td>
                                <td>{{data.target_qauntity}}</td>
                                <td>{{data.expect_qauntity}}</td>
                                <td>{{data.expect_target_ratio_q}}%</td>
                                <td>{{data.yoy_ratio_q}}%</td>
                                <td>{{data.monthly_acc_sum_q}}</td>
                                <td>{{data.mothly_ratio_q}}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

{% else %}
<meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script type="text/javascript">
    window.onload = function () {
        defaultYear();    
    }
    // 연도 데이터 입력
    function defaultYear() {
        const now = new Date();
        const currentYear = now.getFullYear();
        document.getElementById("yearSearch").value = "{{year}}";
    }

    // 연간 전체 제품 판매량 (라인차트)
    const sumSale01 = "{{sumSale01.sum_m_sale__sum|default_if_none:0}}"
    const sumSale02 = "{{sumSale02.sum_m_sale__sum|default_if_none:0}}"
    const sumSale03 = "{{sumSale03.sum_m_sale__sum|default_if_none:0}}"
    const sumSale04 = "{{sumSale04.sum_m_sale__sum|default_if_none:0}}"
    const sumSale05 = "{{sumSale05.sum_m_sale__sum|default_if_none:0}}"
    const sumSale06 = "{{sumSale06.sum_m_sale__sum|default_if_none:0}}"
    const sumSale07 = "{{sumSale07.sum_m_sale__sum|default_if_none:0}}"
    const sumSale08 = "{{sumSale08.sum_m_sale__sum|default_if_none:0}}"
    const sumSale09 = "{{sumSale09.sum_m_sale__sum|default_if_none:0}}"
    const sumSale10 = "{{sumSale10.sum_m_sale__sum|default_if_none:0}}"
    const sumSale11 = "{{sumSale11.sum_m_sale__sum|default_if_none:0}}"
    const sumSale12 = "{{sumSale12.sum_m_sale__sum|default_if_none:0}}"

    // 전체 판매량 제품 비율 (파이차트)
    const sum11530035 = "{{sum11530035.sum_m_sale__sum|default_if_none:0}}";
    const sum11060162 = "{{sum11060162.sum_m_sale__sum|default_if_none:0}}";
    const sum17010087 = "{{sum17010087.sum_m_sale__sum|default_if_none:0}}";
    const sum17010088 = "{{sum17010088.sum_m_sale__sum|default_if_none:0}}";
    const sum17010004 = "{{sum17010004.sum_m_sale__sum|default_if_none:0}}";
    const sum17010002 = "{{sum17010002.sum_m_sale__sum|default_if_none:0}}";
    let totalSum = Number(sum11530035) + Number(sum11060162) + Number(sum17010087) + Number(sum17010088) + Number(sum17010004) + Number(sum17010002);

    // jQuery
    // 연도 변경시 데이터 변경
    $("#yearSearch").on("propertychange change keyup input click", function() {
        $("#selectForm").submit();
    });
</script>
<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock %}