{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
{% if user.is_authenticated %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <form method="GET" id="selectForm">
        <div class="form-row">
            <div class="col">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
            <div class="col">
                <input type="number" id="yearSearch" name="input-year" min="{{thisyear|add:-1}}" max="{{thisyear}}" step="1" class="form-control select"/>
            </div>
        </div>
    </form>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="CreatePDFfromHTML();">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Total Sales (Annual) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            GOAL (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{targetQauntity_comma}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cumulative Sales (Annual) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            SOLD (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{annualSum_comma}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dna fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Progress Rate Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">progress rate
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{salesRate}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: {{salesRate}}%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-poll-h fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Year-on-year Progress Rate Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Year-on-year
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{yoySalesRate}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        style="width: {{yoySalesRate}}%" aria-valuenow="30" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-poll fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Summary of Total Annual Product Sales</h6>
                {% comment %}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div> 
                </div>
                {% endcomment %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Percentage of Total Product Sales</h6>
                {% comment %} 
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div> 
                {% endcomment %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-left small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> 正官庄活蔘28D高麗蔘活/力飲100ml*10瓶
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> 正官庄高麗蔘精EVERY/TIME-秘10ml*20入
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> 預購正官庄活蔘28D高麗/蔘活力飲禮盒100ml*8入
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> 預購正官庄高麗蔘石榴飲/50ml*9入
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> 預購正官庄高麗蔘野櫻莓飲
                    </span><br>
                    <span class="mr-2">
                        <i class="fas fa-circle text-secondary"></i> 預購正官庄高麗蔘精EVERY/TIME10ml*30入
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project Progressing Card -->
<div class="row">
    <div class="col-xl-12 col-lg-8">
        <div class="card shadow mb-4">
            
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">全聯 ANNUAL SUMMARY (CHART)</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">正官庄活蔘28D高麗蔘活/力飲100ml*10瓶 <span
                        class="float-right">{{sum11530035b}}/{{targetQauntity11530035|default_if_none:1}}({{pct11530035}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{pct11530035}}%"
                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h4 class="small font-weight-bold">正官庄高麗蔘精EVERY/TIME-秘10ml*20入 <span
                        class="float-right">{{sum11060162b}}/{{targetQauntity11060162|default_if_none:1}}({{pct11060162}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{pct11060162}}%"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h4 class="small font-weight-bold">預購正官庄活蔘28D高麗/蔘活力飲禮盒100ml*8入 <span
                        class="float-right">{{sum17010087b}}/{{targetQauntity17010087|default_if_none:1}}({{pct17010087}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: {{pct17010087}}%"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h4 class="small font-weight-bold">預購正官庄高麗蔘石榴飲/50ml*9入 <span
                        class="float-right">{{sum17010088b}}/{{targetQauntity17010088|default_if_none:1}}({{pct17010088}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{pct17010088}}%"
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                
                <h4 class="small font-weight-bold">預購正官庄高麗蔘野櫻莓飲 <span
                        class="float-right">{{sum17010004b}}/{{targetQauntity17010004|default_if_none:1}}({{pct17010004}}%)</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{pct17010004}}%"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <h4 class="small font-weight-bold">預購正官庄高麗蔘精EVERY/TIME10ml*30入 <span
                        class="float-right">{{sum17010002b}}/{{targetQauntity17010002|default_if_none:1}}({{pct17010002}}%)</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: {{pct17010002}}%"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-lg-8">
        <div class="card shadow mb-4">
            
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">全聯 ANNUAL SUMMARY (TABLE)</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped text-align-center" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="bg-gradient-primary text-center text-white">PRODUCT NAME</th>
                                <th class="bg-gradient-primary text-center text-white"><abbr title="Sales target for this year">ANNUAL TARGET</abbr></th>
                                <th class="bg-gradient-primary text-center text-white"><abbr title="Expected sales this year">ANNUAL EXPECT</abbr></th>
                                <th class="bg-gradient-primary text-center text-white"><abbr title="Target achievement rate:&#10;(ANNUAL TARGET/ANNUAL EXPECT)*100">TARGET COST</abbr></th>
                                <th class="bg-gradient-primary text-center text-white"><abbr title="Target achievement rate compared to the previous year:&#10;((Sales of this year - Sales of last year)/Sales of last year)*100">YEAR-OVER-YEAR</abbr></th>
                                <th class="bg-gradient-primary text-center text-white"><abbr title="Cumulative sales for this year (performance)">ANNUAL SALES</abbr></th>
                                <th class="bg-gradient-primary text-center text-white"><abbr title="(ANNUAL SALES/ANNUAL TARGET)*100">PROGRESS RATE</abbr></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data %}
                            <tr>
                                <td class="text-center">{{data.product_selling_price_id__product_id__prd_name|cut:' '}}</td>
                                <td class="text-center">{{targetQauntity_comma}}</td>
                                <td class="text-center">{{data.expect_qauntity__sum}}</td>
                                <td class="text-center">{% widthratio data.target_qauntity__sum data.expect_qauntity__sum 100 as target_cost%}{{target_cost|floatformat:2}}%</td>
                                <td class="text-center">{{yoySales|floatformat:2}}%</td>
                                <td class="text-center">{{annualSum_comma}}</td>
                                <td class="text-center">{{salesRate}}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

{% else %}
<meta http-equiv="refresh" content="0; url='/users/login'" />
{% endif %}
<script type="text/javascript">
    const year = "{{year}}";

    // 연간 전체 제품 판매량 (라인차트)
    const sumSale01 = "{{sumSale01.sum_m_sale__sum|default_if_none:0}}"
    const sumSale02 = "{{sumSale02.sum_m_sale__sum|default_if_none:0}}"
    const sumSale03 = "{{sumSale03.sum_m_sale__sum|default_if_none:0}}"
    const sumSale04 = "{{sumSale04.sum_m_sale__sum|default_if_none:0}}"
    const sumSale05 = "{{sumSale05.sum_m_sale__sum|default_if_none:0}}"
    const sumSale06 = "{{sumSale06.sum_m_sale__sum|default_if_none:0}}"
    const sumSale07 = "{{sumSale07.sum_m_sale__sum|default_if_none:0}}"
    const sumSale08 = "{{sumSale08.sum_m_sale__sum|default_if_none:0}}"
    const sumSale09 = "{{sumSale09.sum_m_sale__sum|default_if_none:0}}"
    const sumSale10 = "{{sumSale10.sum_m_sale__sum|default_if_none:0}}"
    const sumSale11 = "{{sumSale11.sum_m_sale__sum|default_if_none:0}}"
    const sumSale12 = "{{sumSale12.sum_m_sale__sum|default_if_none:0}}"

    // 전체 판매량 제품 비율 (파이차트)
    const sum11530035 = "{{sum11530035.sum_m_sale__sum|default_if_none:0}}";
    const sum11060162 = "{{sum11060162.sum_m_sale__sum|default_if_none:0}}";
    const sum17010087 = "{{sum17010087.sum_m_sale__sum|default_if_none:0}}";
    const sum17010088 = "{{sum17010088.sum_m_sale__sum|default_if_none:0}}";
    const sum17010004 = "{{sum17010004.sum_m_sale__sum|default_if_none:0}}";
    const sum17010002 = "{{sum17010002.sum_m_sale__sum|default_if_none:0}}";
    let totalSum = Number(sum11530035) + Number(sum11060162) + Number(sum17010087) + Number(sum17010088) + Number(sum17010004) + Number(sum17010002);

</script>
<script src="{% static 'script/dashboard.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock %}